<%- include('../../../partials/users/head.ejs') %>
    <title>UniPet</title>
    <link rel="stylesheet" href="/css/index.css">
    <%- include('../../../partials/users/head2.ejs') %>
        <body>
            <%- include('../../../partials/users/nav.ejs') %>
            <main>
                <section class="py-5 text-center container">
                    <div class="row py-lg-5">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <h1 class="fw-light">Seja Bem Vindo á UniPet!</h1>
                            <p class="lead text-muted">Nossa plataforma busca um lar para milhares de Pets sem casa. Faça á difereça e adote um Pet agora, e ajude o mundo a ser um lugar melhor!
                            </p>
                            <p>
                                <a href="/user/show" class="btn btn-success my-2">Adotar um Pet!</a>
                            </p>
                        </div>
                    </div>
                </section>
            </main>
            <div class="text-center">
                <a href="/">
                    <img src="/img/petSidebar.png" class="petMain">
                </a>
            </div>
            <%- include('../../../partials/users/footer2.ejs') %>
        </body>
<%- include('../../../partials/users/footer.ejs') %>