<%- include('../../../partials/admin/head.ejs') %> 
    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <title>Administrativo - Novo Pet</title>
    <%- include('../../../partials/admin/head2.ejs') %> 
<body>
    <%- include('../../../partials/admin/nav.ejs') %> 
    <div id="container">
        <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
        <div class="card m-3">
            <div class="card-header">
                <h6 class="display-6 text-center">ATUALIZAR PET</h6>
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        <h6 style="color: black;">ATUALIZE AS INFORMAÇÕES COM CUIDADO!</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <fieldset>
                    <form method="post" action="/admin/save/edit" onsubmit="editPet()">
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" name="nameFancy" placeholder=" " class="form-control" required value="<%= pets.nameFancy %> ">
                                    <label>Apelido</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" name="race" placeholder=" " class="form-control" required value="<%= pets.race %>">
                                    <label>Raça</label>
                                </div>
                            </div>
                        </div>
                        <br><div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" name="colorBody" placeholder=" " class="form-control" required value="<%= pets.colorBody %>">
                                    <label>Cor do Pelo</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" name="cityOrigin" placeholder=" " class="form-control" required value="<%= pets.cityOrigin %>">
                                    <label>Cidade de Origem</label>
                                </div>
                            </div>
                        </div>
                        <br><div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="number" name="height" placeholder=" " class="form-control" required value="<%= pets.height %>">
                                    <label>Altura (CM)</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="number" name="weight" placeholder=" " class="form-control" required value="<%= pets.weight %>">
                                    <label>Peso (KG)</label>
                                </div>
                            </div>
                        </div>
                        <br><div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="date" name="dateBirth" placeholder=" " class="form-control" required value="<%= pets.dateBirth %>">
                                    <label>Data de Nascimento</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="number" name="age" placeholder=" " class="form-control" required value="<%= pets.age %>">
                                    <label>Idade (ANOS)</label>
                                </div>
                            </div>
                        </div>
                        <br><div class="row g-3">
                            <div class="col-md">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="castrated" required>
                                        <% if(pets.castrated == true){ %>
                                            <option value='1' selected>Sim</option>
                                            <option value='0'>Não</option>
                                        <% } else{ %>
                                            <option value='0' selected>Não</option>
                                            <option value='1'>Sim</option>
                                        <% } %>     
                                    </select>
                                    <label for="floatingSelectGrid">O PET É CASTRADO:</label>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="health" required>
                                        <% if(pets.health == true){ %>
                                            <option value='1' selected>Sim</option>
                                            <option value='0'>Não</option>
                                        <% } else{ %>
                                            <option value='0' selected>Não</option>
                                            <option value='1'>Sim</option>
                                        <% } %>  
                                    </select>
                                    <label for="floatingSelectGrid">O PET GOZA DE BOA SAÚDE:</label>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="sex" required>
                                        <% if(pets.sex == true){ %>
                                            <option value='1' selected>Masculino</option>
                                            <option value='0'>Feminino</option>
                                        <% } else{ %>
                                            <option value='0' selected>Feminino</option>
                                            <option value='1'>Masculino</option>
                                        <% } %>
                                    </select>
                                    <label for="floatingSelectGrid">O SEXO DO PET:</label>
                                </div>
                            </div>
                        </div>
                        <br><div class="form-control">
                            <label>Características do PET: </label>
                            <textarea class="form-control" rows="5" name="note" required> <%=pets.note%> </textarea>
                        </div>
                        <br><div class="d-grid col-6 gap-2 mx-auto">
                            <button class="btn btn-warning" value="<%=pets.id%>" name="id">Atualizar</button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</body>
<%- include('../../../partials/admin/footer.ejs') %> 