<%- include('../../../partials/admin/head.ejs') %> 
    <link rel="stylesheet" type="text/css" href="/css/adminShow.css">
    <title>Administrativo - PETs</title>
    <%- include('../../../partials/admin/head2.ejs') %> 
<body>
    <%- include('../../../partials/admin/nav.ejs') %> 
    <div id="container">
        <button class="openbtn" onclick="openNav()">&#9776; Menu</button>

        <div class="card mt-5">
            <div class="card-header">
                <h6 class="display-6 text-center text-light">PETs Disponíveis</h6>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div> 
                <table class="table table-success mt-5">
                    <thead>
                        <tr>
                            <th>Código/PET      </th>
                            <th>Apelido         </th>
                            <th>Raça            </th>
                            <th>Sexo            </th>
                            <th>Cor             </th>
                            <th>Cidade de Origem</th>
                            <th>Ações           </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% pets.forEach(pet => { %>
                            <tr>
                                <th><%= pet.id         %></th>
                                <th><%= pet.nameFancy  %></th>
                                <th><%= pet.race       %></th>
                                <!-- VALIDAÇÃO DO SEXO DO PET -->
                                
                                <% if(pet.sex == true){ %>
                                    <th>Masculino</th>
                                <% }else{               %>
                                    <th>Feminino</th>
                                <% }                    %> 
        
                                <!---------------------------->
                                <th><%= pet.colorBody  %></th>
                                <th><%= pet.cityOrigin %></th>
                                <th>
                                    <form style="display: inline;" method="post" action="/admin/delete" onsubmit="confirmDelete(event)">
                                        <button class="btn btn-danger" name="id" value="<%= pet.id %>">
                                            <i class="bi bi-x-square"></i>
                                        </button>
                                    </form>
                                    <a class="btn btn-warning" name="id" value="<%=pet.id%>" href="/admin/edit/<%=pet.id%>">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        <i class="bi bi-eye"></i>
                                    </a>  
                                </th>
                            </tr>
                        <% }); %> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<%- include('../../../partials/admin/footer.ejs') %>