<%- include('../../../partials/admin/head.ejs') %> 
    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <title>Administrativo - Editar Admin</title>
    <link rel = "stylesheet" type = "text/css" href = "/css/cadastroAdmin.css">
    <%- include('../../../partials/admin/head2.ejs') %> 
<body>
    <%- include('../../../partials/admin/nav.ejs') %> 
    <div id="container">
        <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
        <div class="card m-5">
            <div class="card-header">
                <h6 class="display-6 text-center" style = "font-size:2.5em;">ATUALIZAR ADMINISTRADOR</h6>
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        <h6 style="color: black;">ATUALIZE AS INFORMAÇÕES COM CUIDADO!</h6>
                    </div>
                </div>

                <div class="card-body">
                    <fieldset>
                        <form method="post" action="/admin/userAdmin/edit/save" onsubmit="editPet()">
                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" name="nameAdmin" placeholder=" " class="form-control" value="<%=admins.nameAdmin%> " required>
                                        <label>Nome</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" id="cpf" name="cpf" placeholder=" " class="form-control" value="<%=admins.cpf%>" required>
                                        <label>CPF</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row g-3">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="number" name="cep" placeholder=" " class="form-control" id="cep" size="10" maxlength="9" onblur="pesquisacep(this.value);" value="<%=admins.cep%>"required>
                                        <label>CEP</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" name="rua" placeholder=" " class="form-control" id="rua" size="60" id="bairro" size="40" value="<%=admins.rua%>" required >
                                        <label>Rua</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" name="bairro" id="bairro" size="40" placeholder=" " class="form-control" value="<%=admins.bairro%>" required>
                                        <label>Bairro</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" name="cidade" id="cidade" size="40" placeholder=" " class="form-control" value="<%=admins.cidade%>" required>
                                        <label>Cidade</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" id="uf" name="uf" placeholder=" " size="2" class="form-control" value="<%=admins.uf%>" required>
                                        <label>Estado</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br><div class="row g-2">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="sex" required>
                                        <%  if (admins.sex == true){ %>
                                            <option value='1' selected>Masculino</option>
                                            <option value='0'>Feminino</option>
                                        <% }else{ %>
                                            <option value='0' selected>Feminino</option>
                                            <option value='1'>Masculino</option>
                                        <% }%>
                                    </select>
                                    <label for="floatingSelectGrid">SEXO</label>
                                </div>
                            </div>
                            <br><div class="row g-3">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="date" name="dateBirth" placeholder=" " class="form-control"  value="<%=admins.dateBirth%>" required>
                                        <label>Data de Nascimento</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="text" name="profession" placeholder=" " class="form-control" value="<%=admins.profession%>" required>
                                            <label>Profissão</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class = "row g-3">
                                <div class = "col-md">
                                    <div class = "form-floating">
                                        <input type = "text" name = "acess" placeholder=" " class="form-control"  value="<%=admins.acess%>" required>
                                        <label>Login de Admin</label>
                                    </div>
                                </div>

                                <div class = "col-md">
                                    <div class = "form-floating">
                                        <input type = "password" name = "passwordAdmin" placeholder=" " class="form-control" value="<%=admins.passwordAdmin%>" required>
                                        <label>Senha</label>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="form-floating">
                                <input type="email" class="form-control" id="emailAdmin" placeholder=" " name="email" value="<%=admins.email%>" required>
                                <label for="emailAdmin" class="form-label">Email</label>
                            </div>

                            <br>
                            <div class = "row g-3">
                                <div class = "col-md">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="work" required>
                                            <% if (admins.work == "assistente"){ %>
                                                <option value="assistente" selected>Assistente</option>
                                                <option value="criador">Criador</option>
                                                <option value="desenvolvedor">Desenvolvedor</option>
                                                <option value="suporte">Suporte</option>
                                            <%}else if(admins.work == "criador"){%>
                                                <option value="criador" selected>Criador</option>
                                                <option value="assistente">Assistente</option>
                                                <option value="desenvolvedor">Desenvolvedor</option>
                                                <option value="suporte">Suporte</option>
                                            <%}else if(admins.work == "desenvolvedor"){%>
                                                <option value="desenvolvedor" selected>Desenvolvedor</option>
                                                <option value="criador">Criador</option>
                                                <option value="assistente">Assistente</option>
                                                <option value="suporte">Suporte</option>
                                            <%}else{%>
                                                <option value="suporte" selected>Suporte</option>
                                                <option value="desenvolvedor">Desenvolvedor</option>
                                                <option value="criador">Criador</option>
                                                <option value="assistente">Assistente</option>
                                            <% } %> 
                                        </select>
                                        <label for="floatingSelectGrid">Função no site</label>
                                    </div>
                                </div>
                                <div class = "col-md">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="status" required>
                                            <% if(admins.status == true){ %>
                                                <option value='1' selected>Ativo</option>
                                                <option value='0'>Inativo</option>
                                            <% }else{ %>
                                                <option value='0' selected>Inativo</option>
                                                <option value='1'>Ativo</option>
                                            <% } %> 
                                        </select>
                                        <label for="floatingSelectGrid">Status</label>
                                    </div>
                                </div>  
                            </div>    
                            <br><div class="d-grid col-6 gap-2 mx-auto">
                                <button class="btn btn-warning" name="id" value="<%= admins.id %> ">Atualizar</button>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('../../../partials/admin/footer.ejs') %> 