<%- include('../../../partials/users/head.ejs') %>
    <title>UniPet</title>
    <link rel="stylesheet" href="/css/index.css">
    <%- include('../../../partials/users/head2.ejs') %>
        <body>
            <%- include('../../../partials/users/nav.ejs') %>
            <main>
                <section class="py-5 text-center container">
                    <div class="row py-lg-5">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <h1 class="fw-light">Seja Bem Vindo <%= nome %> ! </h1>
                        </div>
                    </div>
                </section>
            </main>
        </body>
<%- include('../../../partials/users/footer.ejs') %>